# file options

--exclude Pods,Templates,CodeSigning,Build,Environments,fastlane,scripts,vendor,Reports,**/Constants

# format options

--commas inline
--indent 2
--ranges no-space
--wrapparameters after-first
--wrapcollections before-first
--funcattributes preserve
--typeattributes prev-line
--varattributes same-line
--self init-only
--stripunusedargs closure-only
--trimwhitespace nonblank-lines
--xcodeindentation enabled

# rules

--disable fileHeader,hoistPatternLet,initCoderUnavailable,numberFormatting,preferKeyPath,redundantParens,trailingClosures,wrap,wrapMultilineStatementBraces,yodaConditions
--enable isEmpty,wrapEnumCases,wrapSwitchCases